* text=auto eol=lf

*.phar binary

*.php diff=php

* export-ignore
/packages/ -export-ignore
/packages/** -export-ignore
/CHANGELOG.md -export-ignore
/composer.json -export-ignore
/LICENSE -export-ignore
/README.md -export-ignore
